<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLlamadaLabel" jhiTranslate="jhipsterSampleApplicationApp.llamada.home.createOrEditLabel">Create or edit a Llamada</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!llamada.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="llamada.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.llamada.minutos" for="field_minutos">Minutos</label>
            <input type="number" class="form-control" name="minutos" id="field_minutos"
                [(ngModel)]="llamada.minutos" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.llamada.tipoLlamada" for="field_tipoLlamada">Tipo Llamada</label>
            <select class="form-control" id="field_tipoLlamada" name="tipoLlamada" [(ngModel)]="llamada.tipoLlamada"  required>
                <option *ngIf="!editForm.value.tipoLlamada" [ngValue]="null" selected></option>
                <option [ngValue]="tipoLlamadaOption.id === llamada.tipoLlamada?.id ? llamada.tipoLlamada : tipoLlamadaOption" *ngFor="let tipoLlamadaOption of tipollamadas; trackBy: trackTipoLlamadaById">{{tipoLlamadaOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.tipoLlamada?.dirty && editForm.controls.tipoLlamada?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.tipoLlamada?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
